* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #fefefe;
}
.mobContainer {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr, auto, 1fr;
  grid-template-rows: 1fr, auto, 1fr, 1fr;
  justify-items: center;
  align-items: center;
}
h1 {
  font-family: Fahkwang;
  font-size: 36px;
  color: #025fa1;
  text-shadow: 1px 2px  2px #000000;
}
h3 {
  font-family: Exo;
  font-size: 24px;
  color: #025fa1;
  text-align: center;
  text-shadow: 0 1px 2px rgba(3,3,3,.5);
}
h3 a {
  text-decoration: none;
  color: #025fa1;
}
p {
  font-family: Cambay;
  font-size: 12px;
  color: #025fa1;
}
.mobName {
  grid-area: name;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
}
.photoContainer {
  grid-area: image;
  grid-column: 1 / 4;
  grid-row: 2 / 5;
  justify-items: center;
  align-items: center;
}
img {
  border-radius: 8px;
}
.responsive {
  max-width: 100%;
  height: auto;
}
.titleContent {
  grid-area: content;
  grid-column: 1 / 4;
  grid-row: 6 / 7;
  justify-items: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.aboutSection {
  grid-area: about;
  grid-column: 1 / 4;
  grid-row: 8 / 9;
}
h4 {
  font-family: Exo;
  text-align: center;
  color: #025fa1;
  font-size: 24px;
}
#gitHub {
  margin: 0 auto;
  padding-top: 25px;
  text-align: center;
}