.navbar {
    background-color: #025fa1;
    box-shadow: 0 2px 5px rgba(3, 3, 3, .6), 0 -1px 4px rgba(3, 3, 3, .4);
    font-family: Cambay;
    font-size: 18px;
    margin-top: 15px;
}
.main-nav {
    list-style: none;
    display: none;
}
.main-nav li {
    text-align: center;
    margin: 15ps auto;
}
.nav-links,
.logo {
    text-decoration: none;
    color: #ffffff;
}
.logo {
    display: inline-block;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    font-family: Exo;
    text-shadow: 1px 2px 4px #000000;
}
.navbar-toggle {
    position: absolute;
    top: 15px;
    right: 20px;
    color: #3fdb87;
    font-size: 28px;
}
.fas, .fab {
    margin-top: 8px;
}
.active {
    display: block;
}
.header {
    grid-area: header;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}
.footer {
    position: absolute;
    position: -webkit-sticky;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    font-family: Fahkwang;
    color: #030303;
}