/* Styling the mobile navigation menu */
@media screen and (max-width: 1024px) {
    .heroNav {
        display: none;
    }

    .mobNav {
        background: #025fa1;
        text-align: center;
        overflow: hidden;
        position: relative;
    }

    .mobNav #mobLinks {
        display: none;
    }

    .mobNav a {
        color: #fefefe;
        padding: 1rem;
        font-family: Fahkwang;
        text-decoration: none;
        font-size: 1.5rem;
        display: block;
    }

    .mobNav a.icon {
        background: #025fa1;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: .8rem 1.25rem;
    }

    /* Style the active link (or home/logo) */
    .active {
        background-color: #025fa1;
    }

    p {
        font-family: Fahkwang;
        font-size: 1.5rem;
        color: #fbd46c;
    }
}

@media screen and (min-width: 1025px) {
    .mobNav {
        display: none;
    }

    section#contact {
        display: none;
    }
}