* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@Media screen and (max-width: 599px) {
    .linkMenu {
        display: none;
    }
    .introBox {
        padding: 0;
        justify-content: center;
        width: 96%;
    }
    .myPhoto {
        max-width: 65%;
        height: auto;
    }
    .devBox {
        width: 95%;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.7rem;
    }
    .aboutSection {
        background: #fefefe;
    }
    .aboutContainer {
        width: 88%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .projWrapper {
        margin-bottom: 1.2rem;
    }
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
    .projWrapper {
        margin: 2rem;
    }
}
@media screen and (max-width: 1024px) {
    .linkMenu {
        display: none;
    }
    .projWrapper {
        margin-bottom: 1.5rem;
    }
    .mobSocContact {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
    .mobContact {
        color: #00b494;
        font-size: 2.5rem;
    }
    .mobBtn {
        width: 60px;
        height: 60px;
        background-color: #484848;
        border-radius: 50%;
        box-shadow: 0 3px 12px rgba(3, 3, 3, 0.7);
        font-size: 32px;
        text-align: center;
        margin: 0 auto;
        padding-top: 6px;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .mobBtn a {
        color: #00b494;
    }
    .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .messageBox {
        width: 100%;
    }
    button[type=submit] {
        width: 100%;
        border: none;
        padding: 6px 0;
    }
}
@media screen and (min-width: 1025px) {
    .mobSocContact {
        display: none;
    }
    .mobResume {
        display: none;
    }
    .mobBtn {
        display: none;
    }
    #contact .aboutContainer {
        width: 60%;
    }
    .email-label {
        margin-top: 10px;
    }
    .down-btn .fa-angle-double-down:hover {
        color: #fbd46c;
        transform: scale(1.1);
        cursor: pointer;
        text-shadow: 0 3px 8px #030303;
    }
}
@media screen and (min-width: 1440px) {
    .float {
      bottom: 30px;
    }
    ul.float-menu {
      bottom: 60px;
    }
  }