* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 600px) {
    .mobImgLinks {
        display: none;
    }
}

@Media screen and (max-width: 599px) {
    .linkMenu {
        display: none;
    }

    .introBox {
        padding: 0;
        justify-content: center;
        width: 96%;
    }

    .myPhoto {
        max-width: 65%;
        height: auto;
    }

    .devBox {
        width: 95%;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    .aboutSection {
        background: #fefefe;
        background: -webkit-linear-gradient(to bottom, #fefefe, #28313e);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #fefefe, #28313e);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .imgProj {
        max-width: 40%;
        height: auto;
    }

    .imageLinks {
        display: none;
    }

    .mobImgLinks {
        display: flex;
        align-items: self;
        justify-content: center;
        margin-top: 2rem;
        text-align: center;
        padding-bottom: 3rem;
    }
}