@Media screen and (max-width: 599px) {
    .linkMenu {
        display: none;
    }
    .introBox {
        padding: 0;
        width: 96%;
    }
    .myPhoto {
        max-width: 45%;
        height: auto;
    }
    .badPhoto {
        margin-top: 132px;
    }
    .titleText {
        width: 90%;
    }
    .formContainer {
        width: 88%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .project-container {
        width: 100%;
    }
    .project-wrapper {
        width: 100%;
        margin-bottom: 1.2rem;
    }
    .project-image img {
        max-width: 380px;
        height: auto;     
    }
    .project-notes {
        text-align: center;
        padding: 6px 8px 0 8px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
    .project-wrapper {
        margin: 2rem;
    }
}
@media screen and (max-width: 1023px) {
    #about p {
        font-size: 1.5rem;
        font-weight: bold;
    }
    #about {
        font-weight: bold;
    }
    .aboutIntro {
        font-weight: normal;
    }
    .aboutBody {
        display: none;
    }
}
@media screen and (max-width: 1024px) {
    .linkMenu {
        display: none;
    }
    .project-wrapper {
        margin-bottom: 1.5rem;
    }
    .mobSocContact {
        padding: 1rem;
        margin: 0 auto;
    }
    .wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .mobContact {
        color: #ffffff;
        font-size: 2.5rem;
    }
    .mobBtn {
        width: 60px;
        height: 60px;
        background-color: #fb3640;
        border-radius: 50%;
        box-shadow: 0 3px 12px rgba(3, 3, 3, 0.7);
        font-size: 32px;
        text-align: center;
        margin: 0 auto;
        padding-top: 6px;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .mobBtn a {
        color: #1e272e;
    }
    .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .messageBox {
        width: 100%;
    }
    button[type=submit] {
        width: 100%;
        border: none;
        padding: 6px 0;
    }
}
@media screen and (min-width: 1025px) {
    .mobSocContact {
        display: none;
    }
    .aboutContainer {
        display: none;
    }
    .mobResume {
        display: none;
    }
    .mobBtn {
        display: none;
    }
    #contact .aboutContainer {
        width: 60%;
    }
    .email-label {
        margin-top: 10px;
    }
}
@media screen and (min-width: 1440px) {
    .float {
      bottom: 30px;
    }
    ul.float-menu {
      bottom: 60px;
    }
  }