/* Mobile Display */
@media screen and (max-width: 1024px) {
    h2, h2 a {
        display: none;
    }
    .photoContainer {
        display: flex;
    }
    .img2 {
        display: none;
    }
    .aboutSection {
        display: flex;
        text-align: center;
    }
    #about {
        display: none;
    }
    p {
        font-family: Exo;
        font-size: 1.1rem;
        color: #030303;
    }
    p a {
        text-decoration: none;
        color: #030303;
    }
    .aboutSection p {
        margin: 10px;
    }
    .titleContent h3 {
        margin-top: 10px;
    }
    .heroText {
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    .linkMenu {
        display: none;
    }
    .heroNav {
        display: none;
    }
}

/* PC/Laptop Display */
@media screen and (min-width: 1024px) {
    .mobContainer {
        display: none;
    }
    section#home {
        height: 100vh;
    }
    .photoContainer {
        display: none;
    }
    .navbar {
        display: none;
    }
    .container {
        display: grid;
        grid-template-columns: 20px, 20px, 200px, 20px, 20px;
        grid-template-rows: repeat(3, auto);
    }
    .heroSection {
        background-color: #2b2b2b;
        background: url("../images/adrian4.png");
        background-position: center;
        background-repeat: no-repeat;
        height: 399px;
        opacity: 0.8;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-shadow: 1px 1px 2px #030303;
    }
    .heroText {
        margin-top: 250px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: flex-end;
        bottom: 0;
    }
    h1 {
        font-family: Fahkwang;
        font-size: 4rem;
        color: #3fdb87;
        text-shadow: 0 2px 4px #030303;
    }
    h2 {
        font-family: Cambay;
        font-size: 4rem;
        color: #025fa1;
        text-shadow: 0 2px 4px #030303;
    }
    h3 {
        display: none;
    }
    .vl {
        border-left: 2px solid #424243;
        height: 5em;
        margin-left: 10px;
        margin-right: 10px;
    }
    .aboutSection {
        display: grid;
        margin-right: 50px;
        margin-left: 50px;
        padding: 30px;
    }
    p {
        font-family: Exo;
        font-size: 1.4rem;
        color: #fefefe;
        text-align: center;
    }
    p a {
        font-family: Exo;
        text-decoration: none;
        color: #fefefe;
        cursor: crosshair;
    }
    .heroNav {
        height: 100vh;
        z-index: 10;
        margin: 20px;
        width: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-content: flex-start;
        font-family: Fahkwang;
        font-size: 22px;
    }
    .navBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        border-radius: 6px;
        background: #2b2b2b;
        margin-top: 25px;
        margin-left: 50px;
        margin-right: 50px;
        transition: all .3s linear;
    }
    .navBox a {
        display: flex;
        color: #3fdb87;
        text-decoration: none;
    }
    .navBox a:hover {
        transform: scale(1.2);
        text-shadow: 1px 4px 10px #030303;
    }
    .navBox:hover {
        border-radius: 50%;
        background: #025fa1;
        font-size: 24px;
        box-shadow: 1px 2px 8px rgba(03, 03, 03, 0.5),
        -1px -2px 8px rgba(03, 03, 03, 0.5);
    }

    /* Add section for FAB Menu */
    .footer {
        display: none;
    }
    .float {
        width: 60px;
        height: 60px;
        background-color: #025fa1;
        border-radius: 50%;
        box-shadow: 0 3px 12px #030303;
        font-size: 32px;
        color: #3fdb87;
        text-align: center;
        margin: 0 auto;
        padding-top: 6px;
        position: fixed;
        right: 20px;
        bottom: 20px;
        z-index: 1000;
    }
    .float:hover {
        box-shadow: 0 3px 15px #030303;
    }
    ul {
        position: fixed;
        right: 28px;
        padding-bottom: 40px;
        bottom: 50px;
        z-index: 100;
    }
    ul li {
        list-style: none;
        margin-bottom: 10px;
    }
    ul li a {
        background-color: #025fa1;
        color: #3fdb87;
        border-radius: 50%;
        text-align: center;
        box-shadow: 0 2px 8px #030303;
        width: 42px;
        height: 42px;
        display: block;
    }
    ul li a:hover {
        box-shadow: 0px 4px 12px #030303;
        transform: scale(1.10);
    }
    ul:hover {
        visibility: visible!important;
        opacity: 1!important;
    }
    .my-float {
        font-size: 22px;
        margin-top: 10px;
    }
    a#menu-share + ul {
        visibility: hidden;
    }
    a#menu-share:hover + ul {
        visibility: visible;
        animation: scale-in 0.2s;
    }
    a#menu-share i {
        animation: rotate-in 0.5s;
    }
    a#menu-share:hover > i {
        animation: rotate-out 0.2s;
    }
    @keyframes scale-in {
        from {
            transform: scale(0);
            opacity: 0;
        }
        to {
            transform: scale(1);
            opacity: 1;
        }
    }
    @keyframes rotate-in {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    @keyframes rotate-out {
        from {
            transform: rotate(360deg);
        }
        to {
            transform: rotate(0deg);
        }
    }
}
@media screen and (min-width: 1440px) {
    .aboutSection {
        display: flex;
        margin-top: 10px;
        margin-right: 3em;
        margin-left: 3em;
    }
    .float {
        bottom: 30px;
    }
    ul {
        bottom: 60px;
    }
}