/* Mobile Display */
@media screen and (max-width: 768px) {
    h1, h2, h2 a {
        display: none;
    }
    .photoContainer {
        display: flex;
    }
    .img2 {
        display: none;
    }
    .aboutSection {
        display: flex;
        text-align: center;
    }
    p {
        font-family: Exo;
        font-size: 1.1rem;
        color: #ffffff;
    }
    p a {
        text-decoration: none;
        color: #ffffff;
    }
    .aboutSection p {
        margin: 10px;
    }
    .titleContent h3 {
        margin-top: 10px;
    }
}

/* Tablet-specific Display */
@media screen and (min-width: 769px) {
    .navbar {
        display: flex;
        justify-content: center;
        padding-bottom: 0;
        height: 50px;
        align-items: center;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: center;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        padding: 8rem;
        font-size: 1.2rem;
    }
    .logo {
        display: none;
    }
    .navbar-toggle {
        display: none;
    }
    .nav-links:hover {
        color: #3fdb87;
        font-size: 1.2rem;
        text-shadow: 0 1px 3px #000000;
    }
    .img {
        display: none;
    }
}

/* PC/Laptop Display */
@media screen and (min-width: 1024px) {
    .navbar {
        display: none;
    }
    .heroSection {
        background-color: #2b2b2b;
        background: url("../images/adrian4.png");
        background-position: center;
        background-repeat: no-repeat;
        height: 399px;
        opacity: 0.8;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-shadow: 1px 1px 2px #030303;
    }
    .heroText {
        margin-top: 250px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: flex-end;
        bottom: 0;
    }
    h1 {
        font-family: Fahkwang;
        font-size: 4rem;
        color: #3fdb87;
        text-shadow: 0 2px 4px #030303;
    }
    h2 {
        font-family: Cambay;
        font-size: 4rem;
        color: #025fa1;
        text-shadow: 0 2px 4px #030303;
    }
    h3 {
        display: none;
    }
    .vl {
        border-left: 2px solid #424243;
        height: 5em;
        margin-left: 10px;
        margin-right: 10px;
    }
    .aboutSection {
        grid-column: 2 / 3;
        display: grid;
        margin-top: 10px;
        margin-right: 25px;
        margin-left: 25px;
    }
    p {
        font-family: Exo;
        font-size: 1.4rem;
        color: #ffffff;
        text-align: center;
    }
    p a {
        font-family: Exo;
        text-decoration: none;
        color: #ffffff;
        cursor: crosshair;
    }
    /* Add section for FAB Menu */
    .footer {
        display: none;
    }
    .float {
        width: 72px;
        height: 72px;
        background-color: #025fa1;
        border-radius: 50%;
        box-shadow: 0 3px 12px #030303;
        font-size: 36px;
        color: #3fdb87;
        text-align: center;
        margin: 0 auto;
        padding-top: 10px;
        position: fixed;
        right: 50px;
        bottom: 20px;
        z-index: 1000;
    }
    .float:hover {
        box-shadow: 0 3px 15px #030303;
    }
    ul {
        position: fixed;
        right: 62px;
        padding-bottom: 48px;
        bottom: 50px;
        z-index: 100;
    }
    ul li {
        list-style: none;
        margin-bottom: 10px;
    }
    ul li a {
        background-color: #025fa1;
        color: #3fdb87;
        border-radius: 50%;
        text-align: center;
        box-shadow: 0 2px 8px #030303;
        width: 48px;
        height: 48px;
        display: block;
    }
    ul li a:hover {
        box-shadow: 0px 4px 12px #030303;
        transform: scale(1.10);
    }
    ul:hover {
        visibility: visible!important;
        opacity: 1!important;
    }
    .my-float {
        font-size: 24px;
        margin-top: 12px;
    }
    a#menu-share + ul {
        visibility: hidden;
    }
    a#menu-share:hover + ul {
        visibility: visible;
        animation: scale-in 0.2s;
    }
    a#menu-share i {
        animation: rotate-in 0.5s;
    }
    a#menu-share:hover > i {
        animation: rotate-out 0.2s;
    }
    @keyframes scale-in {
        from {
            transform: scale(0);
            opacity: 0;
        }
        to {
            transform: scale(1);
            opacity: 1;
        }
    }
    @keyframes rotate-in {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    @keyframes rotate-out {
        from {
            transform: rotate(360deg);
        }
        to {
            transform: rotate(0deg);
        }
    }
}
@media screen and (min-width: 1440px) {
    .aboutSection {
        display: flex;
        margin-top: 25px;
        padding: 20px;
    }
    .aboutSection p {
        margin-right: 3em;
        margin-left: 3em;
    }
    .float {
        bottom: 30px;
    }
    ul {
        bottom: 60px;
    }
}