* {
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #0c0d0f;
}
.container {
    display: grid;
    grid-template-columns: 1fr, auto, 1fr;
    grid-template-rows: 1fr, 1fr, 2fr, 1fr, 1fr;
    justify-items: center;
    align-items: center;
}
.nav {
    grid-area: nav;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    font-family: 'Prosto One';
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
  .nav ul {
    list-style: none;
    padding: 0;
}
  .nav li a {
    text-decoration: none;
    color: #ffffff;
}
  .nav li a:hover {
    font-size: 1.5em;
    color: #3fdb87;
    text-shadow: 1px 2px 4px #393e3f;
}
.header {
    grid-area: header;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
h1 {
    font-family: 'Uncial Antiqua';
    font-size: 36px;
    color: #1278b5;
    text-shadow: 1px 1px  2px #030303;
}
/*
.nav {
  grid-area: nav;
  grid-column: 1 / 7;
  grid-row: 1 / 2;
  font-family: 'Prosto One';
  font-size: 1.2em;
  justify-self: center;
  align-self: start;
}
.nav ul {
  list-style: none;
  padding: 0;
}
.nav li a {
  text-decoration: none;
  color: #ffffff;
}
.nav li a:hover {
  font-size: 1.5em;
  color: #3fdb87;
  text-shadow: 1px 2px 4px #393e3f;
}
.header {
  grid-area: header;
  grid-column: 2 / 6;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: center;
}
.mainLeft {
  grid-area: mainL;
  grid-column: 3 / 5;
  grid-row: 3 / 5;
  justify-self: center;
  align-self: center;
}
.mainRight {
  grid-area: mainR;
  grid-column: 2 / 6;
  grid-row: 5 / 6;
  justify-self: center;
  align-self: center;
}
.footer {
  grid-area: footer;
  grid-column: 2 / 6;
  grid-row: 6 / 7;justify-self: center;
  align-self: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
h1 {
  font-family: 'Uncial Antiqua';
  font-size: 70px;
  color: #1278b5;
  margin-top: 0;
  text-shadow: 1px 1px  2px #030303;
}
h2 {
  font-family: Ubuntu;
  font-size: 1.6vw;
  color: #ffffff;
}
h2 a {
  color: #ffffff;
  text-decoration: none;
  cursor: crosshair;
}
.responsive {
  max-width: 100%;
  height: auto;
}
@media only screen and (max-width: 767px) {
  .nav {
    font-size: 75%;
  }
  h1 {
    font-size: 80%;
  }
  h2 {
    font-size: 80%;
  }
}
*/