* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background: #fefefe;
}
section#resume {
    height: 100vh;
}
@media screen and (max-width: 1024px) {
    body {
        font-family: Cambay;
        color: #1e272e;
    }
    section#resume {
        display: none;
    }
    h3 {
        text-align: center;
    }
    .contact {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 0px 12px
    }
    .contact a {
        text-decoration: none;
    }
    .contact p,
    .contact a {
        color: #1e272e;
        font-size: 1rem;
        font-family: Cambay;
    }
    .heading p strong {
        font-size: 1.2rem;
    }
    .heading p {
        color: #1e272e;
        font-size: 1.1rem;
        padding: 4px 10px;
        font-family: Cambay;
    }
    .opening {
        font-size: 1.1rem;
        text-align: center;
        font-family: Cambay;
    }
    p.opening {
        padding-top: 12px;
    }
    .education,
    .projects,
    .employment {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        padding-left: 12px;
    }
    h4 {
        font-family: Cambay;
        font-size: 1.3rem;
        color: #247ba0;
        text-decoration: underline;
        padding-top: 1rem;
    }
    .title {
        font-weight: bold;
        color: #1e272e;
        text-decoration: underline;
    }
    .edu,
    .work {
        padding-bottom: 8px;
    }
    ul.float-menu li.float-list a {
        color: #00b494;
    }
    /* Accordion Styling */
    .work-accordion {
        padding: 12px;
    }
    li.job-list {
        list-style: none;
    }
    li.job-list {
        padding-bottom: 8px;
    }
    li.job-list.open {
        padding-bottom: 12px;
    }
    .job-details::before {
        padding: 0;
        margin: 0;
    }
    .job-details {
        max-height: 0;
        overflow: hidden;
        margin-bottom: 8px;
        transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    }
    .work-accordion ul.work-history li.job-list.open .job .arrow {
        transform: rotate(180deg)
    }
    .work-accordion ul.work-history li.job-list.open .job-details {
        max-height: 150px;
        padding-top: 0;
    }
}