* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #28313e;
}

section#resume {
    height: 100vh;
}

ul li a .linkLabel {
    visibility: hidden;
    width: 80px;
    background-color: transparent;
    font-family: Cambay;
    background-color: #515151;
    color: #1dbaba;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    box-shadow: 0px 4px 12px rgba(3, 3, 3, 0.5);
    position: absolute;
    z-index: 1;
    top: 6px;
    right: 115%;
}

@media screen and (max-width: 768px) {
    body {
        font-family: Cambay;
        color: #fefefe;
    }
    section#resume {
        display: none;
    }

    h3 {
        text-align: center;
    }
    .contact {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 0px 12px
    }
    .contact a {
        text-decoration: none;
    }
    .contact p,
    .contact a {
        color: #fefefe;
        font-size: 1rem;
        font-family: Cambay;
    }
    .heading p strong{
        font-size: 1.2rem;
    }
    .heading p {
        color: #fefefe;
        font-size: 1.1rem;
        padding: 4px 10px;
        font-family: Cambay;
    }
    .opening {
        font-size: 1.1rem;
        text-align: center;
        font-family: Cambay;
    }
    p.opening {
        padding-top: 12px;
    }
    .education,
    .projects,
    .employment {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        padding-left: 12px;
    }
    h4 {
        font-family: Cambay;
        font-size: 1.3rem;
        color: #1dbaba;
        text-decoration: underline;
        padding-top: 1rem;
    }
    .title {
        font-weight: bold;
        color: #fefefe;
        text-decoration: underline;
    }
    .edu,
    .work {
        padding-bottom: 8px;
    }
    ul li a .linkLabel {
        color: #1dbaba;
    }
}