* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #28313e;
}

section#resume {
    height: 100vh;
}

ul li a .linkLabel {
    visibility: hidden;
    width: 80px;
    background-color: transparent;
    font-family: Cambay;
    background-color: #515151;
    color: #1dbaba;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    box-shadow: 0px 4px 12px rgba(3, 3, 3, 0.5);
    position: absolute;
    z-index: 1;
    top: 6px;
    right: 115%;
}