* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  background-color: #ffffff;
}
.container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr, auto, 1fr;
  grid-template-rows: 1fr, 1fr, 2fr, 1fr, 1fr;
  justify-items: center;
  align-items: center;
}
.navbar {
  background-color: #025fa1;
  box-shadow: 0 2px 5px rgba(3, 3, 3, .6), 0 -1px 4px rgba(3, 3, 3, .4);
  font-family: Cambay;
  font-size: 18px;
  margin-top: 15px;
}
.main-nav {
  list-style: none;
  display: none;
}
.main-nav li {
  text-align: center;
  margin: 15ps auto;
}
.nav-links, .logo {
  text-decoration: none;
  color: #ffffff;
}
.logo {
  display: inline-block;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  font-family: Exo;
  text-shadow: 1px 2px 4px #000000;
}
.navbar-toggle {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #3fdb87;
  font-size: 28px;
}
.active {
  display: block;
}
.header {
  grid-area: header;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
h1 {
  font-family: Exo;
  font-size: 36px;
  color: #025fa1;
  text-shadow: 1px 2px  2px #000000;
}
h2 {
  font-family: Ubuntu;
  font-size: 24px;
  color: #030303;
  text-align: center;
}
p {
  font-family: Ubuntu;
  font-size: 12px;
  color: #bcbcbc;
}
.mainPhoto {
  grid-area: image;
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  justify-items: space-around;
  align-items: center;
}
.responsive {
  max-width: 100%;
  height: auto;
}
.mainContent {
  grid-area: content;
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  justify-items: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #025fa1;
  box-shadow: 0 -1px 4px rgba(3, 3, 3, .8);
}
.fas, .fab {
  margin-top: 8px;
}
.photoContainer {
  position: relative;
  width: 50%;
}
.img {
  display: block;
  width: 90%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #424243;
  border: 2px ridge #424243;
  border-radius: 8px;
}
.photoContainer:hover .overlay {
  opacity: 1;
}
.message {
  color: #3fdb87;
  font-size: 24px;
  font-family: Exo;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
@media screen and (min-width: 769px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }
  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .main-nav li {
    margin: 0;
  }
  .nav-links {
    margin-left: 40px;
  }
  .logo {
    display: none;
  }
  .navbar-toggle {
    display: none;
  }
  .logo:hover,
  .nav-links:hover {
    color: #ffffff;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    display: none;
  }
}