* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #183154;
}
h1 {
  font-family: 'Racing Sans One';
  font-size: 5rem;
  color: #fefefe;
  text-shadow: 4px 3px 6px #242427;
}
h2 {
  font-family: Cambay;
  font-size: 3rem;
  color: #00b494;
  text-shadow: 4px 3px 6px #242427;
}
h3 {
  font-family: Cambay;
  font-size: 1.8rem;
  color: #00b494;
  text-shadow: 0 3px 2px #242427;
}
#particles {
  width: 100%;
  height: 100vh;
  text-align: center;
}
.introBox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.myPhoto {
  max-width: 50%;
  height: auto;
}
.devBox {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.typed-cursor {
  display: none;
}
.down-btn {
  color: #fbd46c;
  text-shadow: 4px 3px 6px #030303;
  font-size: 1.75rem;
  position: absolute;
  width: 100%;
  bottom: 40px;
  left: 0;
  text-align: center;
}
.down-btn .fa-angle-double-down:hover {
  color: #c8a956;
  transform: scale(1.4);
}
.aboutSection {
  background: #fefefe;
}
#about {
  text-align: center;
  display: flex;
  justify-content: center;
}
.aboutContainer {
  margin-top: 2rem;
  padding: 3rem;
  background: #183154;
  border-radius: 6px;
  width: 80%;
  margin-bottom: 2rem;
  box-shadow: 0 3px 8px #242427;
}
#about p {
  font-family: Cambay;
  font-size: 1.2rem;
  color: #fefefe;
}
.vwcLink a {
  color: #fefefe;
  text-decoration: underline;
  cursor: pointer;
}
hr.welcomeLine {
  width: 85%;
  margin: 0 auto;
  border: 1px solid #fbd46c;
  border-radius: 8px;
  margin-bottom: 1.1rem;
}
hr.sepLine {
  width: 85%;
  margin: 0 auto;
  border: 1px solid #fbd46c;
  border-radius: 8px;
  margin-top: 1.1rem;
}
hr.btmSepLine {
  width: 85%;
  margin: 0 auto;
  border: 1px solid #fbd46c;
  border-radius: 8px;
}
.projText {
  font-family: Cambay;
  font-size: 2rem;
  color: #183154;
  text-align: center;
}
.wrapper {
  position: relative;
  width: 50%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #fefefe;
}
.wrapper:hover .overlay {
  opacity: 1;
}
.label {
  font-family: Cambay;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.label a {
  font-family: Cambay;
  font-size: 2rem;
  text-decoration: none;
  color: #183154;
  cursor: crosshair;
}
.footer {
  height: 45px;
  background: #183154;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.footer p {
  font-family: Cambay;
  font-size: 1em;
  color: #fbd46c;
}
/* Add section for FAB Menu */
.float {
  width: 60px;
  height: 60px;
  background-color: #484848;
  border-radius: 50%;
  box-shadow: 0 3px 12px rgba(3, 3, 3, 0.8);
  font-size: 32px;
  color: #00b494;
  text-align: center;
  margin: 0 auto;
  padding-top: 6px;
  position: fixed;
  right: 70px;
  bottom: 40px;
  z-index: 1000;
}
.fas,
.fab {
  margin-top: 8px;
}
ul.float-menu li.float-list a .fa-arrow-circle-left {
  font-size: 1.5rem;
}
.float:hover {
  box-shadow: 0 3px 15px rgba(3, 3, 3, 0.7);
}
ul.float-menu {
  position: fixed;
  right: 77px;
  padding-bottom: 40px;
  bottom: 65px;
  z-index: 100;
}
ul.float-menu li.float-list {
  list-style: none;
  margin-bottom: 10px;
}
ul.float-menu li.float-list a {
  background-color: #484848;
  color: #00b494;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 2px 8px rgba(3, 3, 3, 0.6);
  width: 42px;
  height: 42px;
  display: block;
}
ul.float-menu li.float-list a:hover {
  box-shadow: 0px 4px 12px rgba(3, 3, 3, 0.7);
  transform: scale(1.2);
}
ul.float-menu li.float-list a .linkLabel {
  visibility: hidden;
  width: 100px;
  background-color: transparent;
  color: #00b494;
  font-family: Cambay;
  text-align: center;
  text-shadow: 0px 4px 12px rgba(3, 3, 3, 0.7);
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 75%;
}
ul.float-menu:hover {
  visibility: visible !important;
  opacity: 1 !important;
}
ul.float-menu li.float-list a:hover .linkLabel {
  visibility: visible;
}
.my-float {
  font-size: 22px;
  margin-top: 10px;
}
a#menu-share+ul {
  visibility: hidden;
}
a#menu-share:hover+ul {
  visibility: visible;
  animation: scale-in 0.2s;
}
a#menu-share i {
  animation: rotate-in 0.5s;
}
a#menu-share:hover>i {
  animation: rotate-out 0.2s;
}
@keyframes scale-in {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes rotate-in {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-out {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@media screen and (min-width: 1440px) {
  .float {
    bottom: 30px;
  }
  ul.float-menu {
    bottom: 60px;
  }
}
/* ?Projects Section */
.projImg {
  max-width: 350px;
  height: auto;
  border-radius: 5px;
}
.projImg:hover {
  transform: scale(1.02);
}
.projectScreens {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 2rem;
}
.projWrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: space-between;
  padding: 12px;
  background-color: #fefefe;
  border-radius: 5px;
  width: 375px;
  height: 250px;
  box-shadow: 0px 2px 4px rgba(3, 3, 3, 0.4), 0px -2px 5px rgba(3, 3, 3, 0.4);
}
.projText1 {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.projText2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding-top: 10px;
}
.proj {
  font-family: Cambay;
  font-size: 1rem;
}
.proj a {
  text-decoration: none;
  color: #183154;
}
.proj a:hover {
  color: #00b494;
  border-bottom: 1px solid #00b494;
}
section#projects {
  padding-bottom: 3rem;
}
/* ?Form Section */
#contact {
  display: flex;
  justify-content: center;
}
#contact h3 {
  text-align: center;
}
p.form-header {
  text-align: center;
  font-family: Comfortaa;
  font-size: 1rem;
  color: #fbd46c;
  padding-bottom: 1.2rem;
}
.contact-form {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.form-fields {
  display: flex;
  flex-direction: column;
}
.form-text {
  display: flex;
  flex-direction: column;
}
label {
  font-family: Cambay;
  font-size: 1.2rem;
  color: #00b494;
  padding: 8px 0 2px 0;
}
input[type=text],
[type=email] {
  padding: 8px 12px;
  border-radius: 5px;
  width: 100%;
}
.messageBox {
  margin-bottom: 6px;
  padding: 6px;
  border-radius: 5px;
  width: 300px;
}
@keyframes colors {
  0% { caret-color: #183154; }
  25% { caret-color: #00b494; }
  50% { caret-color: #484848; }
  75% { caret-color: #ce1126; }
  100% { caret-color: #00b494; }
}
input[type=text],
[type=email],
.messageBox {
  animation: 4s infinite colors
}
button[type=submit] {
  background: #00b494;
  color: #030303;
  border-radius: 5px;
  font-family: Cambay;
  font-size: 1rem;
  border: none;
  width: 300px;
}
button[type=submit]:hover {
  box-shadow: 0 2px 8px #030303;
}
input:focus, .messageBox:focus {
  outline: 1px solid #00b494;
}
.successContainer {
  margin-top: 2rem;
  padding: 3rem;
  background: #183154;
  border-radius: 6px;
  width: 80%;
  margin-bottom: 2rem;
  box-shadow: 0 3px 8px #242427;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#success h3 {
  text-align: center;
}
p.successMessage {
  font-family: cambay;
  font-size: 1rem;
  color: #fefefe;
  text-align: center;
}
p.successBack {
  font-family: Cambay;
  font-size: 1.15rem;
  color: #fefefe;
  text-align: center;
  padding-top: 1.25rem;
}
p.successBack a {
  text-decoration: none;
  color: #fefefe;
}
p.successBack a:hover {
  color: #00b494;
}