* {
  box-sizing: border-box;
}
body {
  background-color: #6395b9;
}
.nav {
  grid-area: nav;
  grid-column: 1 / 7;
  grid-row: 1 / 2;
  font-family: 'Prosto One';
  font-size: 1.2em;
  justify-items: center;
  align-items: center;
}
.nav ul {
  list-style: none;
}
.nav li a {
  text-decoration: none;
  color: #030303;
}
.nav li a:hover {
  font-size: 1.5em;
  color: #3fdb87;
  text-shadow: 1px 2px 4px #393e3f;
}
.header {
  grid-area: header;
  grid-column: 4 / 7;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainLeft {
  grid-area: mainL;
  grid-column: 1 / 4;
  grid-row: 2 / 6;
  justify-self: center;
  align-self: center;
}
.mainRight {
  grid-area: mainR;
  grid-column: 4 / 7;
  grid-row: 4 / 5;
  display: flex;
  justify-content: center;
}
.footer {
  grid-area: footer;
  grid-column: 1 / 7;
  grid-row: 6 / 7;
  justify-self: center;
  align-self: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
/*
  gap: 10px 10px;
  grid-template-areas:"nav nav nav nav nav nav"
                       "mainL mainL mainL header header header"
                       "mainL mainL mainL . . ."
                       "mainL mainL mainL mainR mainR mainR"
                       "mainL mainL mainL . . ."
                       "footer footer footer footer footer footer";
*/
}
h1 {
  font-family: 'Uncial Antiqua';
  font-size: 60px;
  color: #870201;
  margin-top: 0;
  text-shadow: 1px 1px  2px #030303;
}
p {
  font-family: Ubuntu;
  font-size: 1.5vw;
  color: #ffffff;
}
p a {
  color: #ffffff;
  text-decoration: none;
  cursor: crosshair;
}
.responsive {
  max-width: 85%;
  height: auto;
}
@media only screen and (max-width: 767px) {
  .nav {
    font-size: 75%;
  }
  h1 {
    font-size: 80%;
  }
}