@media screen and (max-width: 1023px) {
    .linkMenu {
        display: none;
    }

    h1 {
        font-size: 2.6rem;
    }

    h2 {
        font-size: 2.1rem;
    }

    h3 {
        margin-top: 0;
    }

    hr.heroLine {
        width: 50%;
    }

    section#about {
        margin: 0;
        padding: 0;
    }

    section#about p {
        margin: 0;
        padding: .6em;
    }

    section#projects {
        background: #fefefe;
        margin: 2rem 1.5rem;
    }

    .apps {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .imgSample {
        max-width: 100%;
        height: auto;
    }

    .imgSample2 {
        max-width: 100%;
        height: auto;
    }

    .imageLinks {
        display: flex;
        justify-content: space-around;
        align-items: self;
    }

    .imageLinks p a {
        padding: .5rem;
    }

    .imgProj {
        max-width: 50%;
        height: auto;
    }
}