* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #28313e;
    /* Don't use the background image for now
    background-image: url('../images/adrian6.png');
    background-size: 15%;
    background-position: center;
    background-repeat: no-repeat;
    */
}

h1 {
    font-family: 'Racing Sans One';
    font-size: 4rem;
    color: #fefefe;
    text-shadow: 4px 3px 6px #242427;
}

h2 {
    font-family: Cambay;
    font-size: 2.5rem;
    color: #1dbaba;
    text-shadow: 4px 3px 6px #242427;
}

#particles {
    width: 100%;
    height: 100vh;
    text-align: center;
}

.introBox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    height: 60px;
    background: #28313e;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer p {
    font-family: Cambay;
    font-size: 1em;
    color: #fbd46c;
}

/* Add section for FAB Menu */
.float {
    width: 60px;
    height: 60px;
    background-color: #515151;
    border-radius: 50%;
    box-shadow: 0 3px 12px rgba(3, 3, 3, 0.7);
    font-size: 32px;
    color: #1dbaba;
    text-align: center;
    margin: 0 auto;
    padding-top: 6px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
}

.fas,
.fab {
    margin-top: 8px;
}

.float:hover {
    box-shadow: 0 3px 15px rgba(3, 3, 3, 0.7);
}

ul {
    position: fixed;
    right: 30px;
    padding-bottom: 40px;
    bottom: 50px;
    z-index: 100;
}

ul li {
    list-style: none;
    margin-bottom: 10px;
}

ul li a {
    background-color: #515151;
    color: #1dbaba;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 2px 8px rgba(3, 3, 3, 0.6);
    width: 42px;
    height: 42px;
    display: block;
}

ul li a:hover {
    box-shadow: 0px 4px 12px rgba(3, 3, 3, 0.7);
    transform: scale(1.20);
}

ul:hover {
    visibility: visible !important;
    opacity: 1 !important;
}

.my-float {
    font-size: 22px;
    margin-top: 10px;
}

a#menu-share+ul {
    visibility: hidden;
}

a#menu-share:hover+ul {
    visibility: visible;
    animation: scale-in 0.2s;
}

a#menu-share i {
    animation: rotate-in 0.5s;
}

a#menu-share:hover>i {
    animation: rotate-out 0.2s;
}

@keyframes scale-in {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes rotate-in {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-out {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@media screen and (min-width: 1440px) {
    .aboutSection {
        display: flex;
        margin-top: 10px;
        margin-right: 3em;
        margin-left: 3em;
    }

    .float {
        bottom: 30px;
    }

    ul {
        bottom: 60px;
    }
}