* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  background-color: #ffffff;
}
.container {
  display: grid;
  grid-template-columns: 1fr, auto, 1fr;
  grid-template-rows: 1fr, 1fr, 2fr, 1fr, 1fr;
  justify-items: center;
  align-items: center;
}
.navbar {
  background-color: #025fa1;
  box-shadow: 0 2px 5px rgba(3, 3, 3, .6), 0 -1px 4px rgba(3, 3, 3, .4);
  font-family: Cambay;
  font-size: 16px;
  margin-top: 15px;
}
.main-nav {
  list-style: none;
  display: none;
}
.main-nav li {
  text-align: center;
  margin: 15ps auto;
}
.nav-links, .logo {
  text-decoration: none;
  color: #ffffff;
}
.logo {
  display: inline-block;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  font-family: Exo;
  text-shadow: 1px 2px 4px #000000;
}
.navbar-toggle {
  position: absolute;
  top: 18px;
  right: 20px;
  color: #3fdb87;
  font-size: 28px;
}
.active {
  display: block;
}
.header {
  grid-area: header;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
h1 {
  font-family: Exo;
  font-size: 36px;
  color: #025fa1;
  text-shadow: 1px 2px  2px #000000;
}
h2 {
  font-family: Ubuntu;
  font-size: 24px;
  color: #ffffff;
}
h2 a {
  color: #ffffff;
  text-decoration: none;
  cursor: crosshair;
}
p {
  font-family: Ubuntu;
  font-size: 12px;
  color: #bcbcbc;
}
.mainPhoto {
  grid-area: image;
  grid-column: 2 / 3;
  grid-row: 3 / 5;
  justify-items: space-around;
  align-items: center;
}
.responsive {
  max-width: 100%;
  height: auto;
}
.mainContent {
  grid-area: content;
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  justify-items: center;
  align-items: center;
}
.footer {
  grid-area: footer;
  grid-column: 2 / 3;
  grid-row: 6 / 7;
  justify-items: center;
  align-items: center;
}
@media screen and (min-width: 769px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }
  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .main-nav li {
    margin: 0;
  }
  .nav-links {
    margin-left: 40px;
  }
  .logo {
    display: none;
  }
  .navbar-toggle {
    display: none;
  }
  .logo:hover,
  .nav-links:hover {
    color: #ffffff;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    display: none;
  }
}