* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

section#home {
    background: #28313e;
    height: 100vh;
}

.navbar {
    display: none;
}

.heroSection {
    background-color: #28313e;
    text-shadow: 1px 1px 2px #030303;
}

.heroContainer {
    display: flex;
    flex-direction: column;
}

.heroText {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    bottom: 0;
}

.heroDev {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    bottom: 0;
}


h1 {
    font-family: Fahkwang;
    font-size: 4rem;
    color: #025fa1;
    text-shadow: 4px 3px 6px #242427;
}

h2 {
    font-family: Comfortaa;
    font-size: 3rem;
    color: #ada3a1;
    text-shadow: 0 2px 4px #030303;
    padding-top: .5rem;
    ;
}

h3 {
    font-family: Fahkwang;
    font-size: 2rem;
    color: #025fa1;
    text-align: center;
    margin-top: 1rem;
}

hr.heroLine {
    width: 28%;
    margin: 0 auto;
    border: 1px solid #fbd46c;
}

hr.projectTitle {
    width: 28%;
    margin: 0 auto;
    border: 1px solid #025fa1;
}

p {
    font-family: Cambay;
    font-size: 1.4rem;
    color: #fefefe;
    text-align: center;
}

p a {
    font-family: Cambay;
    text-decoration: none;
    color: #fefefe;
    cursor: crosshair;
}

section#about {
    padding: 40px;
    background: #fefefe;
    color: #010101;
}

section#about p {
    font-family: Cambay;
    text-decoration: none;
    color: #010101;
    margin: 10px 3em;
    padding: 1em;
}

section#about p a {
    font-family: Cambay;
    text-decoration: none;
    color: #025fa1;
    cursor: crosshair;
}

.heroNav {
    z-index: 10;
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-content: center;
    font-family: Fahkwang;
    font-size: 18px;
    background: #025fa1;
    border-bottom: 1px solid #010101;
}

.navBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 12px;
    margin-right: 18px;
}

.navBox a {
    color: #fefefe;
    text-decoration: none;
}

.navBox a:hover {
    color: #fbd46c;
    text-decoration: none;
    text-shadow: 0 2px 6px #111111;
}

section#projects {
    margin: 2rem 3.2rem;
    padding: 1rem;
}

.projHeader {
    margin-bottom: 2rem;
}

.apps {
    height: 350px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.imgSample {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.imageLinks {
    display: flex;
    align-items: self;
    justify-content: center;
    margin-top: 3rem;
    text-align: center;
}

.imgProj {
    max-width: 30%;
    height: auto;
}

.footer {
    height: 60px;
    background: #025fa1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-family: Cambay;
    font-size: 1em;
    color: #fbd46c;
}

/* Add section for FAB Menu */
.float {
    width: 60px;
    height: 60px;
    background-color: #515151;
    border-radius: 50%;
    box-shadow: 0 3px 12px #000000;
    font-size: 32px;
    color: #1dbaba;
    text-align: center;
    margin: 0 auto;
    padding-top: 6px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
}

.fas,
.fab {
    margin-top: 8px;
}

.float:hover {
    box-shadow: 0 3px 15px #030303;
}

ul {
    position: fixed;
    right: 28px;
    padding-bottom: 40px;
    bottom: 50px;
    z-index: 100;
}

ul li {
    list-style: none;
    margin-bottom: 10px;
}

ul li a {
    background-color: #515151;
    color: #1dbaba;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 2px 8px #030303;
    width: 42px;
    height: 42px;
    display: block;
}

ul li a:hover {
    box-shadow: 0px 4px 12px #030303;
    transform: scale(1.10);
}

ul:hover {
    visibility: visible !important;
    opacity: 1 !important;
}

.my-float {
    font-size: 22px;
    margin-top: 10px;
}

a#menu-share+ul {
    visibility: hidden;
}

a#menu-share:hover+ul {
    visibility: visible;
    animation: scale-in 0.2s;
}

a#menu-share i {
    animation: rotate-in 0.5s;
}

a#menu-share:hover>i {
    animation: rotate-out 0.2s;
}

@keyframes scale-in {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes rotate-in {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-out {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@media screen and (min-width: 1440px) {
    .aboutSection {
        display: flex;
        margin-top: 10px;
        margin-right: 3em;
        margin-left: 3em;
    }

    .float {
        bottom: 30px;
    }

    ul {
        bottom: 60px;
    }
}