body {
  background-color: #05081b;
}
h1 {
  font-family: 'Cinzel Decorative';
  font-size: 32px;
  color: #e8cb0d;
  padding-top: 2rem;
  text-align: center;
}
p {
  font-family: Arial;
  font-size: 18px;
  color: #ffffff;
}
hr {
  height: 2px;
  background-color: #cc0000;
}
.nav {
  text-align: center;
}
.nav li {
  display: inline-block;
  list-style: none;
  text-align: center;
  padding: 0 2em 0 2em;
  margin: 0;
  margin-bottom: 5em;
}
.nav a {
  font: Arial;
  font-size: 22px;
  color: #e8cb0d;
}
.nav a:hover {
  text-decoration: none;
}
.center {
  text-align: center;
}