* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #6395b9;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#393e3f+0,0c0d0f+100 */
background: #393e3f;
/* Old browsers */
background: -moz-linear-gradient(top, #393e3f 0%, #0c0d0f 100%);
/* FF3.6-15 */
background: -webkit-linear-gradient(top, #393e3f 0%, #0c0d0f 100%);
/* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #393e3f 0%, #0c0d0f 100%);
/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#393e3f', endColorstr='#0c0d0f', GradientType=0);
/* IE6-9 */
}
.nav {
  grid-area: nav;
  grid-column: 2 / 6;
  grid-row: 1 / 2;
  font-family: 'Prosto One';
  font-size: 1.2em;
  justify-self: center;
  align-self: start;
}
.nav ul {
  list-style: none;
}
.nav li a {
  text-decoration: none;
  color: #ffffff;
}
.nav li a:hover {
  font-size: 1.5em;
  color: #3fdb87;
  text-shadow: 1px 2px 4px #393e3f;
}
.header {
  grid-area: header;
  grid-column: 2 / 6;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: center;
}
.mainLeft {
  grid-area: mainL;
  grid-column: 3 / 5;
  grid-row: 3 / 5;
  justify-self: center;
  align-self: center;
}
.mainRight {
  grid-area: mainR;
  grid-column: 2 / 6;
  grid-row: 5 / 6;
  justify-self: center;
  align-self: center;
}
.footer {
  grid-area: footer;
  grid-column: 2 / 6;
  grid-row: 6 / 7;justify-self: center;
  align-self: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
h1 {
  font-family: 'Uncial Antiqua';
  font-size: 60px;
  color: #1278b5;
  margin-top: 0;
  text-shadow: 1px 1px  2px #030303;
}
h2 {
  font-family: Ubuntu;
  font-size: 1.5vw;
  color: #ffffff;
}
h2 a {
  color: #ffffff;
  text-decoration: none;
  cursor: crosshair;
}
.responsive {
  max-width: 100%;
  height: auto;
}
@media only screen and (max-width: 767px) {
  .nav {
    font-size: 75%;
  }
  h1 {
    font-size: 80%;
  }
}