@media screen and (max-width: 1023px) {
    .linkMenu {
        display: none;
    }

    h1 {
        font-size: 2.6rem;
    }

    h2 {
        font-size: 2.1rem;
    }

    h3 {
        margin-top: 0;
    }

    hr.heroLine {
        width: 50%;
    }

    section#about {
        margin: 0;
        padding: 0;
    }

    section#about p {
        margin: 0;
        padding: .6em;
    }

    section#projects {
        background: #fefefe;
        margin: 2rem 1.5rem;
    }

    .aboutImg {
        display: none;
    }

    .about {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    /*
    .about {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .aboutImg {
        max-width: 60%;
        height: auto;
    }
    */

    .apps {
        display: flex;
        width: 90vw;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .imgSample {
        max-width: 90%;
        height: auto;
    }

    .imageLinks {
        display: flex;
        justify-content: space-around;
        align-items: self;
    }

    .imageLinks p a {
        padding: .5rem;
    }

    .imgProj {
        max-width: 50%;
        height: auto;
    }
    
    .mob-fab a {
        background-color: #515151;
        color: #1dbaba;
        border-radius: 50%;
        text-align: center;
        box-shadow: 0 2px 8px #030303;
        width: 42px;
        height: 42px;
        display: block;
    }
    
    .mob-fab a:hover {
        box-shadow: 0px 4px 12px #030303;
        transform: scale(1.10);
    }
    
    .my-float {
        font-size: 22px;
        margin-top: 10px;
    }

    .mobContact {
        width: 200px;
        height: 100px;
        background-color: #fefefe;
        display: grid;
        grid-template-columns: 100px 100px;
        grid-row: auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .mobContactMe {
        color: #025fa1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Fahkwang;
        font-size: 25px;
        font-family: sans-serif;
    }
}

@media screen and (max-width: 1024px) {
    .float {
        display: none;
    }
}