/* COLORS */
.blue {
  color: #247ba0;
}
.red {
  color: #fb3640;
}
.platinum {
  color: #e2e2e2;
}
.lightGrey {
  color: #605f5e;
}
.darkGrey {
  color: #1e272e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #247ba0;
}
h1 {
  font-family: 'Racing Sans One';
  font-size: clamp(1.5rem, 12vw, 6rem);
  color: #fb3640;
  text-shadow: 6px 6px 18px #242427;
}
h2 {
  font-family: Cambay;
  font-size: 2rem;
  color: #247ba0;
  text-align: center;
  margin: 48px 0;
}
h3 {
  font-family: Cambay;
  font-size: 1.8rem;
  color: #1e272e;
}
#particles {
  width: 100%;
  height: 100vh;
  text-align: center;
  box-shadow: inset 0 0 18px rgba(0, 0, 0, 0.6);
}
.titleText {
  margin-top: 32px;
  border: 6px ridge #e2e2e2;
  border-radius: 5px;
  padding: 18px;
  background: #247ba0;
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.4 );
}
.introBox {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}
.myPhoto {
  max-width: 50%;
  height: auto;
}
p.aboutIntro {
  font-family: Acme;
  color: #ffffff;
  font-size: clamp(1.25rem, 2vw, 1.75rem);
}
.aboutSection {
  background: #fefefe;
}
#about {
  text-align: center;
  display: flex;
  justify-content: center;
}
.formContainer {
  margin-top: 2rem;
  padding: 3rem;
  background: #247ba0;
  border-radius: 6px;
  width: 60%;
  margin-bottom: 2rem;
  box-shadow: 0 3px 8px #242427;
}
#about p {
  font-family: Cambay;
  font-size: 1.2rem;
  color: #fefefe;
}
.aboutIntro {
  padding: 12px;
}
.aboutBody {
  text-align: left;
  padding-bottom: 12px;
}
.vwcLink a {
  color: #fefefe;
  text-decoration: underline;
  cursor: pointer;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #fefefe;
}
.label {
  font-family: Cambay;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.footer {
  height: 45px;
  background: #247ba0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.footer p {
  font-family: Cambay;
  font-size: 1em;
  color: #e2e2e2;
}
/* Add section for FAB Menu */
.float {
  width: 60px;
  height: 60px;
  background-color: #fb3640;
  border-radius: 50%;
  box-shadow: 0 3px 12px rgba(3, 3, 3, 0.8);
  font-size: 32px;
  color: #1e272e;
  text-align: center;
  margin: 0 auto;
  padding-top: 6px;
  position: fixed;
  right: 70px;
  bottom: 40px;
  z-index: 1000;
}
.fas,
.fab {
  margin-top: 8px;
}
ul.float-menu li.float-list a .fa-arrow-circle-left {
  font-size: 1.5rem;
}
.float:hover {
  box-shadow: 0 3px 15px rgba(3, 3, 3, 0.7);
}
ul.float-menu {
  position: fixed;
  right: 77px;
  padding-bottom: 40px;
  bottom: 65px;
  z-index: 100;
}
ul.float-menu li.float-list {
  list-style: none;
  margin-bottom: 10px;
}
ul.float-menu li.float-list a {
  background-color: #fb3640;
  color: #1e272e;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 2px 8px rgba(3, 3, 3, 0.6);
  width: 42px;
  height: 42px;
  display: block;
}
ul.float-menu li.float-list a:hover {
  box-shadow: 0px 4px 12px rgba(3, 3, 3, 0.7);
  transform: scale(1.2);
}
ul.float-menu li.float-list a .linkLabel {
  visibility: hidden;
  width: 100px;
  background-color: transparent;
  color: #1e272e;
  font-family: Cambay;
  text-align: center;
  text-shadow: 0px 4px 12px rgba(3, 3, 3, 0.7);
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 75%;
}
ul.float-menu:hover {
  visibility: visible !important;
  opacity: 1 !important;
}
ul.float-menu li.float-list a:hover .linkLabel {
  visibility: visible;
}
.my-float {
  font-size: 22px;
  margin-top: 10px;
}
a#menu-share+ul {
  visibility: hidden;
}
a#menu-share:hover+ul {
  visibility: visible;
  animation: scale-in 0.2s;
}
a#menu-share i {
  animation: rotate-in 0.5s;
}
a#menu-share:hover>i {
  animation: rotate-out 0.2s;
}
@keyframes scale-in {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes rotate-in {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-out {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
/* Projects Section */
section#projects {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-container {
  max-width: 800px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}
.project-wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-bottom: 32px;
  border-radius: 5px;
}
.project-image  img {
  max-width: 750px;
  height: auto;
  border-radius: 5px;
}
.project-text p {
  font-family: Cambay;
  color: #1e272e;
  font-size: clamp(1.1rem, 2vw, 1.3rem);
}
.project-links p {
  display: inline-block;
  padding: 18px 0 36px 24px;
}
.project-links a {
  font-family: Cambay;
  text-decoration: none;
  font-size: clamp(1.1rem, 2vw, 1.3rem);
  color: #247ba0;
}
@media screen and (min-width: 1025px) {
  .project-wrapper:hover {
      transform: scale(1.02);
      box-shadow: 0px 4px 24px rgba(3, 3, 3, 0.4), 0px -4px 24px rgba(3, 3, 3, 0.4);
  }
  .project-links a:hover {
    color: #1e272e;
  }
}
/* ?Form Section */
#contact {
  background: #ffffff;
  display: flex;
  justify-content: center;
}
.formContainer {
  max-width: 750px;
}
#contact h3 {
  text-align: center;
}
p.form-header {
  text-align: center;
  font-family: Comfortaa;
  font-size: 1rem;
  color: #fbd46c;
  padding-bottom: 1.2rem;
}
.contact-form {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.form-fields {
  display: flex;
  flex-direction: column;
}
.form-text {
  display: flex;
  flex-direction: column;
}
.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border-bottom: 0;
}
label {
  font-family: Cambay;
  font-size: 1.2rem;
  color: #1e272e;
  padding: 8px 0 2px 0;
}
input[type=text],
[type=email] {
  padding: 8px 12px;
  border-radius: 5px;
  width: 100%;
}
.messageBox {
  margin-bottom: 6px;
  padding: 6px;
  border-radius: 5px;
  width: 300px;
}
@keyframes colors {
  0% { caret-color: #247ba0; }
  25% { caret-color: #00b494; }
  50% { caret-color: #484848; }
  75% { caret-color: #ce1126; }
  100% { caret-color: #00b494; }
}
input[type=text],
[type=email],
.messageBox {
  animation: 4s infinite colors
}
button[type=submit] {
  background: #fb3640;
  color: #1e272e;
  border-radius: 5px;
  font-family: Cambay;
  font-size: 1.1rem;
  border: none;
  width: 300px;
}
button[type=submit]:hover {
  box-shadow: 0 2px 8px rgba(3, 3, 3, 0.8);
}
button[type=submit]:active {
  box-shadow: 0 0 8px rgba(3, 3, 3, 0.6);
}
input:focus, .messageBox:focus {
  outline: 1px solid #00b494;
}
.successContainer {
  margin-top: 2rem;
  padding: 3rem;
  background: #247ba0;
  border-radius: 6px;
  width: 80%;
  margin-bottom: 2rem;
  box-shadow: 0 3px 8px #242427;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#success h3 {
  text-align: center;
}
p.successMessage {
  font-family: cambay;
  font-size: 1rem;
  color: #fefefe;
  text-align: center;
}
p.successBack {
  font-family: Cambay;
  font-size: 1.15rem;
  color: #fefefe;
  text-align: center;
  padding-top: 1.25rem;
}
p.successBack a {
  text-decoration: none;
  color: #fefefe;
}
p.successBack a:hover {
  color: #00b494;
}