@media screen and (max-width: 1023px) {
    .linkMenu {
        display: none;
    }

    h1 {
        font-size: 2.6rem;
    }

    h2 {
        font-size: 2.1rem;
    }

    h3 {
        margin-top: 0;
    }

    hr.heroLine {
        width: 50%;
    }

    .arrowDown {
        display: none;
    }

    .arrowDown .fas:hover {
        display: none;
    }

    .mobScroll i {
        color: #025fa1;
        text-shadow: 4px 3px 6px #242427;
        font-size: 2rem;
        position: absolute;
        width: 100%;
        bottom: 40px;
        left: 0;
        text-align: center;
    }

    section#about {
        margin: 0;
        padding: 0;
    }

    section#about p {
        margin: 0;
        padding: .6em;
    }

    section#projects {
        background: #fefefe;
        margin: 2rem .75rem;
    }

    .aboutImg {
        display: none;
    }

    .about {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    /*
    .about {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .aboutImg {
        max-width: 60%;
        height: auto;
    }
    */

    .apps {
        display: flex;
        max-width: 90vw;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    figcaption {
        font-size: 1.1rem;
        max-width: 90vw;
    }

    .imgSample {
        max-width: 90%;
        height: auto;
    }

    .imageLinks {
        display: flex;
        justify-content: space-around;
        align-items: self;
        margin-top: 4em;
        padding-top: 2em;
    }

    .imageLinks p a {
        padding: .5rem;
    }

    .imgProj {
        max-width: 50%;
        height: auto;
        padding-top: 2rem;
    }

    .mob-fab {
        background-color: #025fa1;
        color: #fefefe;
        border: 1px solid #025fa1;
        border-radius: 25px;
        text-align: center;
        padding: .5rem;
        box-shadow: 0 2px 5px #111111;
        width: 6rem;
    }

    .mob-fab:active {
        background: #73e2fd;
        transform: translateY(1px);
    }

    .mobContact {
        display: grid;
        height: 200px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        justify-items: center;
        align-items: center;
        grid-auto-flow: row;
    }
}

@media screen and (max-width: 1024px) {
    .float {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .mobScroll {
        display: none;
    }
}