@media screen and (max-width: 1023px) {
    .linkMenu {
        display: none;
    }

    h1 {
        font-size: 2.6rem;
    }

    h2 {
        font-size: 2.1rem;
    }

    h3 {
        margin-top: 0;
    }

    hr.heroLine {
        width: 50%;
    }

    section#about {
        margin: 0;
        padding: 0;
    }

    section#about p {
        margin: 0;
        padding: .6em;
    }

    section#projects {
        background: #fefefe;
        margin: 2rem 1.5rem;
    }

    .aboutImg {
        display: none;
    }

    .about {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    /*
    .about {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .aboutImg {
        max-width: 60%;
        height: auto;
    }
    */

    .apps {
        display: flex;
        width: 90vw;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .imgSample {
        max-width: 90%;
        height: auto;
    }

    .imageLinks {
        display: flex;
        justify-content: space-around;
        align-items: self;
    }

    .imageLinks p a {
        padding: .5rem;
    }

    .imgProj {
        max-width: 50%;
        height: auto;
    }
}