/*
body {
  background-color: #fff;
}
header {
  display: flex;
  justify-content: center;
}
h1 {
  font-family: 'Uncial Antiqua';
  font-size: 52px;
  color: #870201;
  cursor: crosshair;
}
hr {
  background-color: #bcbcbc;
  width: 50%;
  padding: 0;
  margin: 0 auto;
}
p {
  font-family: ubuntu;
  font-size: 1.1em;
}
nav {
  font-family: ubuntu;
  font-size: 1.1em;
}
nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "nav nav nav nav";
  justify-items: center;
}
li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: #030303;

}
.container {
  display: flex;
  height: 200px;
  flex-direction: column;
  align-items: center;
}
.container > div.flexxed {
  border: 2px solid #000000;
  background-color: #c0c0c0;
  width: 300px;
  margin: 10px;
  padding: 10px;
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 28px;
  }
  header {
    text-align: center;
  }
}
*/
* {
  box-sizing: border-box;
}
.nav {
  grid-area: nav;
  font-family: Ubuntu;
  font-size: 1.5em;
  display: flex;
  justify-content: space-around;
}
.nav ul {
  list-style: none;
}
.nav li {
  text-decoration: none;
  color: #030303;
}
.header {
  grid-area: header;
  display: flex;
  justify-content: center;
}
.mainLeft {
  grid-area: mainL;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainRight {
  grid-area: mainR;
  display: flex;
  justify-content: center;
}
.footer {
  grid-area: footer;
}
.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 10px 10px;
  grid-template-areas:"header header header header header header"
                       "mainL mainL mainL mainR mainR mainR"
                       "mainL mainL mainL mainR mainR mainR"
                       "mainL mainL mainL . nav nav"
                       "mainL mainL mainL . nav nav"
                       "mainL mainL mainL . nav nav"
                       "footer footer footer footer footer footer";
}
h1 {
  font-family: 'Uncial Antiqua';
  font-size: 52px;
  color: #870201;
  margin-top: 0;
  text-shadow: 1px 1px  2px #000;
}
p {
  font-family: Ubuntu;
  font-size: 1.2em;
}
.img {
  transition: transform .5s ease-in-out;
  animation-duration: .4s;
  animation-timing-function: linear;
}
.img:hover {
  transform: rotate(360deg);
}